<ion-menu id="myMenu" [content]="content">

  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button ion-item (click)="openHome()">
        Inicio
      </button>
      <button ion-item (click)="openHomePharmacy()" *ngIf="globalDataCtrl.getUser_role_id() == 'dd1bc611-ad23-4ec6-9cb2-a4081fab1039'">
        Lectura de códigos QR
      </button>
      <button ion-item (click)="openAdminRegisterPage()" *ngIf="globalDataCtrl.getUser_role_id() == '4cfd1451-51dd-4f5a-94fb-aae3ef410ef9'">
        Registro de usuarios
      </button>
      <button ion-item (click)="openProfile()">
        Perfil de usuario
      </button>
      <button ion-item (click)="closeSession()">
        Cerrar sesión
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
